<template>
  <v-card>
    <v-card-title primary-title>
      <h3>We wont to know more about you</h3>
    </v-card-title>
    <v-stepper v-model="e6" vertical>
      <v-stepper-step :complete="e6 > 1" step="1">
        Select your possible $ investment
        <small>Summarize if needed</small>
      </v-stepper-step>

      <v-stepper-content step="1">
        <v-card
          color="lighten-1"
          class="mb-5"
          height="200px"
          style="padding:10px;"
        >Here you need to specificate the mount that wont to inverse, and the currency.
          <v-flex xs2>
            <v-icon>attach_money</v-icon>
            <v-text-field type="number"></v-text-field>
          </v-flex>
        </v-card>
        <v-btn color="primary" round @click="e6 = 2">Continue</v-btn>
        <v-btn flat round>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="e6 > 2" step="2">Select your risk perfil investment</v-stepper-step>

      <v-stepper-content step="2">
        <v-card
          color="lighten-1"
          class="mb-5"
          height="200px"
          style="padding:10px;"
        >We need to know your perfil risk, they are three options:
          <v-radio-group v-model="column" column>
            <v-radio label="Low" value="radio-1"></v-radio>
            <v-radio label="Meniun" value="radio-2"></v-radio>
            <v-radio label="Hight" value="radio-3"></v-radio>
          </v-radio-group>
        </v-card>
        <v-btn color="primary" round @click="e6 = 3">Continue</v-btn>
        <v-btn flat round>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="e6 > 3" step="3">Select your favorites companies</v-stepper-step>

      <v-stepper-content step="3">
        <v-card color="lighten-1" class="mb-5" height="200px" style="padding:10px;"></v-card>
        <v-btn color="primary" round @click="e6 = 4">Continue</v-btn>
        <v-btn flat round>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-step step="4">Finish</v-stepper-step>
      <v-stepper-content step="4">
        <v-card
          color="lighten-1"
          class="mb-5"
          height="200px"
          style="padding:10px;"
        >We complete with the changes, now you can resive news of favorite companies, and we can recomend you the list of companies.</v-card>
        <v-btn color="primary" round @click="e6 = 1">Continue</v-btn>
        <v-btn flat round>Cancel</v-btn>
      </v-stepper-content>
    </v-stepper>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      e6: 1
    };
  }
};
</script>
