<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout row wrap>
      <v-flex xs6>
        <v-card height="650px">
          <v-flex xs12>
            <v-flex xs12>
              <v-autocomplete
                :disabled="!isEditing"
                :items="states"
                :filter="customFilter"
                color="white"
                item-text="name"
                label="Company 1"
              ></v-autocomplete>
            </v-flex>

            <v-card>
              <v-card-title class="subheading font-weight-bold">
                <v-rating v-model="rating"></v-rating>
              </v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-tile>
                  <v-list-tile-content>Calories:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Fat:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Carbs:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Protein:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Sodium:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Calcium:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Iron:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
            <v-flex xs12>
              <v-card
                color="grey"
                height="150px"
                style="padding:10px;"
              >Summary:  We complete with the changes, now you can resive news of favorite companies, and we can recomend you the list of companies.</v-card>
            </v-flex>
          </v-flex>
        </v-card>
      </v-flex>
      <v-flex xs6>
        <v-card height="650px">
          <v-flex xs12>
            <v-flex xs12>
              <v-autocomplete
                :disabled="!isEditing"
                :items="states"
                :filter="customFilter"
                color="white"
                item-text="name"
                label="Company 2"
              ></v-autocomplete>
            </v-flex>

            <v-card>
              <v-card-title class="subheading font-weight-bold">
                <v-rating v-model="rating"></v-rating>
              </v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-tile>
                  <v-list-tile-content>Calories:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Fat:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Carbs:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Protein:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Sodium:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Calcium:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                  <v-list-tile-content>Iron:</v-list-tile-content>
                  <v-list-tile-content class="align-end"></v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>

            <v-flex xs12>
              <v-card
                color="grey"
                height="150px"
                style="padding:10px;"
              >Summary: We complete with the changes, now you can resive news of favorite companies, and we can recomend you the list of companies.</v-card>
            </v-flex>
          </v-flex>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-alert :value="true" color="info">Final Conclusion:</v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  //
};
</script>
