<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs12 md12 lg12>
        <v-card>
          <v-card-title primary-title>
            <h3>News</h3>
          </v-card-title>

          <v-container py-0>
            <v-layout>
              <v-flex xs4>
                <v-card color="blue">
                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">Company 1</h3>
                      <div>Located two hours south of Sydney in the
                        <br>Southern Highlands of New South Wales, ...
                      </div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
              <v-flex xs4>
                <v-card color="blue">
                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">Company 2</h3>
                      <div>Located two hours south of Sydney in the
                        <br>Southern Highlands of New South Wales, ...
                      </div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>

              <v-flex xs4>
                <v-card color="blue">
                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">Company 3</h3>
                      <div>Located two hours south of Sydney in the
                        <br>Southern Highlands of New South Wales, ...
                      </div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
              <v-flex xs4>
                <v-card color="blue">
                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">Company 4</h3>
                      <div>Located two hours south of Sydney in the
                        <br>Southern Highlands of New South Wales, ...
                      </div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
              <v-flex xs4>
                <v-card color="blue">
                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">Company 5</h3>
                      <div>Located two hours south of Sydney in the
                        <br>Southern Highlands of New South Wales, ...
                      </div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
      <v-flex xs12 >
        <v-card >
          <v-card-title primary-title>
            <h3>Real Time Price</h3>
          </v-card-title>
          <app-linechart ></app-linechart>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import LineChart from "@/components/LineChart.vue";

export default {
  name: "home",
  components: {
    "app-linechart": LineChart
  },
  data: () => ({})
};
</script>
