<template>
  <v-container grid-list-lg>
    <v-card>
      <v-card-title primary-title>
        <h3>Our Plan</h3>
      </v-card-title>
      <v-container py-0>
         <v-layout row wrap>
        <v-flex xs12 sm12 md4>
          <v-card >
            <v-responsive>
              <v-img  src="https://images.g2crowd.com/uploads/attachment/file/41611/uploads_2F0b551259-0777-44a6-b85c-907059d15f04_2FSencha_.png" height="500px">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <span class="headline grey--text"></span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
            </v-responsive>
            <v-card-text>
              <div>
                <h3 class="headline mb-0">Basic</h3>
                <div>this is a free plans; many of the function will be block.</div>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-btn block color="grey" round  @click="showRecipes('keto')">Select This Plan</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex xs12 sm12 md4>
          <v-card >
            <v-responsive>
              <v-img src="https://images.g2crowd.com/uploads/attachment/file/41611/uploads_2F0b551259-0777-44a6-b85c-907059d15f04_2FSencha_.png" height="500px">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <span class="headline orange--text"></span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
            </v-responsive>
            <v-card-text>
              <div>
                <h3 class="headline mb-0">Intermediate</h3>
                <div>This has the most used function</div>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-btn block color="orange" round  @click="showRecipes('paleo')">Select This Plan</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex xs12 sm12 md4>
          <v-card>
            <v-responsive>
              <v-img src="https://images.g2crowd.com/uploads/attachment/file/41611/uploads_2F0b551259-0777-44a6-b85c-907059d15f04_2FSencha_.png" height="500px">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <span class="headline green--text"></span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
            </v-responsive>
            <v-card-text>
              <div>
                <h3 class="headline mb-0">Premiun</h3>
                <div>This plans has the total functions</div>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-btn  block color="green" round  @click="showRecipes('Premiun')">Select This Plan</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      </v-container>
     
    </v-card>
  </v-container>
</template>

<script>
export default {
  //
};
</script>