<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout justify-center wrap>

       <v-flex xs12 class="text-xs-center" mt-5>
        <h1>Sign Up</h1>
         <v-avatar :size="150">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Vue.js_Logo.svg/2000px-Vue.js_Logo.svg.png" alt="avatar">
        </v-avatar>
      </v-flex>


      <v-flex xs12>
        <v-card>
          <v-card-title primary-title>
            <h3></h3>
          </v-card-title>
          <v-form>
            <v-container py-0>
              <v-layout wrap>
                <v-flex xs12 md4>
                  <v-text-field class="purple-input" label="User Name"/>
                </v-flex>
                <v-flex xs12 md4>
                  <v-text-field label="Email Address" class="purple-input"/>
                </v-flex>
                <v-flex xs12 md6>
                  <v-text-field label="First Name" class="purple-input"/>
                </v-flex>
                <v-flex xs12 md6>
                  <v-text-field label="Last Name" class="purple-input"/>
                </v-flex>
                <v-flex xs12 md12>
                  <v-text-field label="Adress" class="purple-input"/>
                </v-flex>
                <v-flex xs12 md4>
                  <v-text-field label="City" class="purple-input"/>
                </v-flex>
                <v-flex xs12 md4>
                  <v-text-field label="Country" class="purple-input"/>
                </v-flex>
                <v-flex xs12 md4>
                  <v-text-field class="purple-input" label="Postal Code" type="number"/>
                </v-flex>

                <v-flex xs12 >
                  <v-divider dark></v-divider>
                </v-flex>

                <v-flex xs12 md6>
                  <v-text-field label="Password" type="password" required class="purple-input"/>
                </v-flex>
                <v-flex xs12 md6>
                  <v-text-field label="Password" type="password" required class="purple-input"/>
                </v-flex>

                <v-flex xs12 text-xs-center>
                  <v-btn color="primary" round @click="onLogin()">SignIn</v-btn>
                  <v-btn color="default" round>Cancel</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({}),
  methods: {
    onLogin: function() {
      this.$router.push("/home");
    }
  }
};
</script>
