﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AWARENER | Login</title>

    <link href="css/inspniaTemplate/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/inspniaTemplate/animate.css" rel="stylesheet">
    <link href="css/inspniaTemplate/style.css" rel="stylesheet">

   
   

</head>

<body class="gray-bg" ng-app="MyApp" style="background: url('@Url.Content("~/images/login5.jpg")');
    background-repeat: no-repeat;
    background-size: auto;">

    <div class="loginColumns animated fadeInDown" ng-controller="loginController">
        <div class="row">

            <div class="col-md-6 font-bold" style="color:darkslategray">
                <h2>Welcome to AWARENER</h2>
                <div>
                    <p>
                        “The stock market is the story of cycles and of the human behaviour that is responsible for overreactions in both directions.” – Seth Klarman
                    </p>


                    <p>
                        “In the old legend the wise men finally boiled down the history of mortal affairs into a single phrase: ‘This too will pass.’” – Benjamin Graham
                    </p>

                    <p>
                        “The way to make money is to buy when blood is running in the streets.” – John D Rockefeller
                    </p>

                    <p>
                        “The aim is to make money, not to be right.” Ned Davis
                    </p>
                </div>



            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form">
                        <div class="form-group">
                            <input class="form-control" ng-model="selectItem.Name" >
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" ng-model="selectItem.Password" >
                        </div>
                        <button ng-click="onLogin()" class="btn btn-primary block full-width m-b">Login</button>

                        <a href="#">
                            <small>Forgot password?</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Index", "Register")">Create an account</a>
                    </form>

                </div>
            </div>
        </div>
        <hr />
        <div class="row font-bold" style="color:darkslategray">
            <div class="col-md-6">
                Copyright Awarener
            </div>
            <div class="col-md-6 text-right">
                <small>© 2017-2018</small>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/lib/inspniaTemplate/jquery-3.1.1.min.js"></script>
    <script src="~/lib/inspniaTemplate/bootstrap.min.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/lib/inspniaTemplate/inspinia.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/pace/pace.min.js"></script>

    <script src="~/lib/angular-1.6.9/angular.js"></script>
    <script src="~/lib/angular-1.6.9/angular-cookies.min.js"></script>
    <script src="~/lib/angular-1.6.9/angular-route.js"></script>

    <script src="~/lib/ngDialog-master/js/ngDialog.js"></script>
    <script src="~/lib/angular-1.6.9/dirPagination.js"></script>
    <script src="~/js/app/app.js"></script>
    <script src="~/js/app/controllers/loginController.js"></script>


</body>

</html>

