﻿
<div ng-controller="tabsController">

    <script type="text/ng-template" id="templateId">
        <h1>Template heading</h1>
        <p>Content goes here</p>
    </script>

    <div class="form-inline">

        <div class="col-sm-12">
            <h1>Pag1</h1>
        </div>

        <div class="from-group">
            <label>Search</label>
            <input type="text" ng-model="FilterObject.Name" class="from-control" />
            <button ng-click="onMensaje()" class="from-control">Ver alerta</button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Tag Value</th>
                <th>Statement Code</th>
                <th>Template</th>
                <th>Type</th>
                <th>Units</th>
                <th>Balance</th>
            </tr>

        </thead>

        <tbody>
            <tr dir-paginate="tab in lstTabs |itemsPerPage:15 | filter:{ name: FilterObject.Name}">
                <td>{{tab.name}}</td>
                <td>{{tab.tagValue}}</td>
                <td>{{tab.statementCode}}</td>
                <td>{{tab.template}}</td>
                <td>{{tab.type}}</td>
                <td>{{tab.units}}</td>
                <td>{{tab.balance}}</td>
            </tr>
        </tbody>

    </table>
    <dir-pagination-controls max-size="15"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>

</div>

