<template>
  <div>
    <div >
      <v-navigation-drawer clipped fixed v-model="drawer" app>
        <v-list>
          <v-list-group
            v-for="item in items"
            v-model="item.active"
            :key="item.title"
            :prepend-icon="item.icon"
            no-action
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title @click="onVerPag('/home')">{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile
              v-for="subItem in item.items"
              :key="subItem.title"
              @click="onVerPag(subItem.action)"
            >
              <v-list-tile-content>
                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-icon>{{ subItem.icon }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar app fixed clipped-left>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Application</v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid >

          <router-view/>
        
        </v-container>
      </v-content>
      <v-footer app fixed>
        <span>&copy; 2019 Version:x.x.x</span>
      </v-footer>
    </div>
  </div>
</template>

<script>
export default {
  name: "Private",
  data: () => ({
    drawer: true,
    items: [
      {
        icon: "home",
        title: "Home",

        active: true,
        items: [{ title: "About you investment",action:"/about" }, 
        { title: "Companies info",action:"/companies" }, 
        { title: "Company vs Company",action:"/companyVscompany" },
        { title: "Our Recomendations",action:"/companies" }]
      },
      {
        icon: "settings",
        title: "Settings",

        items: [{ title: "Profile",action:"/profile" },
        { title: "Plans & Pricing",action:"/plans" }]
      },
      {
        icon: "power_settings_new",
        title: "Session",
        items: [{ title: "Logout",action:"/starter" }]
      }
    ]
  }),
  methods: {
    onVerPag: function(itemMenu) {
      debugger;
      this.$router.push(itemMenu);
    },
    onClose: function() {
      this.$router.push("/starter");
    }
  },
  props: {
    source: String
  }
};
</script>