﻿<div ng-controller="companyController">



    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 b-r">
                               <h1>Company</h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

