﻿<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AWARENER</title>

    <link href="css/inspniaTemplate/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/inspniaTemplate/animate.css" rel="stylesheet">
    <link href="css/inspniaTemplate/style.css" rel="stylesheet">
    <link href="~/css/ngDialog-master/css/ngDialog.css" rel="stylesheet">
    <link href="~/css/ngDialog-master/css/ngDialog-theme-default.min.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="~/lib/inspniaTemplate/jquery-3.1.1.min.js"></script>
    <script src="~/lib/inspniaTemplate/bootstrap.min.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/lib/inspniaTemplate/inspinia.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/pace/pace.min.js"></script>
    <script src="~/lib/angular-1.6.9/angular.js"></script>
    <script src="~/lib/angular-1.6.9/angular-route.js"></script>
    <script src="~/lib/ngDialog-master/js/ngDialog.js"></script>
    <script src="~/lib/angular-1.6.9/angular-cookies.min.js"></script>
    <script src="~/lib/angular-1.6.9/dirPagination.js"></script>



    <script src="~/js/app/app.js"></script>

    <script src="~/js/app/controllers/homeController.js"></script>
    <script src="~/js/app/controllers/tabsController.js"></script>
    <script src="~/js/app/controllers/companyController.js"></script>


</head>

<body class="" ng-app="MyApp">

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">User Name</strong>
                                    </span>
                                    <span class="text-muted text-xs block"> El travesaño </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            AW
                        </div>
                    </li>

                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Pag ejemplos</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#!/Tabs">Tabs</a></li>
                        </ul>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#!/Company">Companies</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Config</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#!/Pag1">User</a></li>
                        </ul>
                      
                    </li>

                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to Awarener.</span>
                        </li>

                        <li>
                            <a href="@Url.Action("Logout", "Home")">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>

            <div class="footer">
                <div>
                    <strong>Copyright</strong> Awarener Company &copy; 2017-2018
                </div>
            </div>

        </div>
    </div>

</body>

</html>
