﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AWARENER | Login</title>

    <link href="css/inspniaTemplate/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/inspniaTemplate/animate.css" rel="stylesheet">
    <link href="css/inspniaTemplate/style.css" rel="stylesheet">




</head>

<body class="gray-bg" ng-app="MyApp">

    <div class="loginColumns animated fadeInDown" ng-controller="registerController">


        <div style="text-align:center">
            <h1 class="logo-name" style="color:#1ab394">AWARENER</h1>
        </div>

        <div class="middle-box text-center loginscreen   animated fadeInDown">
            <div>

                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">

                                <div class="ibox-content">
                                    <h3>Register to Awarener</h3>
                                    <p>Create account to see it in action.</p>
                                    <form class="m-t" role="form" action="login.html">
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="selectItem.Name" placeholder="Name" required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" ng-model="selectItem.Email" placeholder="Email" required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" ng-model="selectItem.Password" placeholder="Password" required="">
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox i-checks"><label> <input type="checkbox" ng-model="selectItem.Terms"><i></i> Agree the terms and policy </label></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary block full-width m-b" ng-click="onRegister()">Register</button>

                                        <p class="text-muted text-center"><small>Already have an account?</small></p>
                                        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Index", "Login")">Login</a>
                                    </form>
                                    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/lib/inspniaTemplate/jquery-3.1.1.min.js"></script>
    <script src="~/lib/inspniaTemplate/bootstrap.min.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/lib/inspniaTemplate/inspinia.js"></script>
    <script src="~/lib/inspniaTemplate/plugins/pace/pace.min.js"></script>

    <script src="~/lib/angular-1.6.9/angular.js"></script>
    <script src="~/lib/angular-1.6.9/angular-cookies.min.js"></script>
    <script src="~/lib/angular-1.6.9/angular-route.js"></script>

    <script src="~/lib/ngDialog-master/js/ngDialog.js"></script>
    <script src="~/lib/angular-1.6.9/dirPagination.js"></script>
    <script src="~/js/app/app.js"></script>
    <script src="~/js/app/controllers/registerController.js"></script>


</body>

</html>



